<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="PBL3Entities" connectionString="metadata=res://*/DTO.QLCF.csdl|res://*/DTO.QLCF.ssdl|res://*/DTO.QLCF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VT-PGH\SQLEXPRESS;initial catalog=PBL3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="PBL3Entities1" connectionString="metadata=res://*/DTO.QLCF.csdl|res://*/DTO.QLCF.ssdl|res://*/DTO.QLCF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VT-PGH\SQLEXPRESS;initial catalog=PBL3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>